<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Live Code </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <h2>List Menu</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th> Package </th>
          <th> Food item </th>
          <th> Price </th>
          <th> Calories </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              A
            </td>
          </tr>
      </tbody>
    </table>
  </div>

</body>
<footer>
</footer>

</html>
